* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

#home-title {
    scroll-margin-top: 90px;
}

header {
    position: fixed;
    top: 0;
    /* width: 100%; */
    width: 100vw;
    z-index: 21;
}

nav {
    padding: 10px 32px;
    min-height: 80px;
    background-color: rgb(66, 66, 66);
}

#nav-logo {
    max-height: 60px;
}

.spacer {
    /* border: 1px solid red; */
    display: inline-block;
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 50px - 260px);
}

.nav-list {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
    color: aliceblue;
}

nav ul li a:hover {
    color: #B7987C;
}

.current {
    text-decoration: underline;
}

/* --- Services Dropdown Menu --- */
#services-item {
    position: relative;

}

#services-item:hover #services-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#services-menu {
    position: absolute;
    top: 110%;
    left: 0px;
    background-color: #252525;
    padding: 8px;
    z-index: 1;
    margin-bottom: 0px;
    transform: translateY(-2vh);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, transform 0.15s;
}

#services-menu li {
    margin-right: 0px;
    margin: 4px 0px 4px;
}

#services-menu a {
    padding-top: 10px;
    display: inline-block;
    white-space: nowrap;
}


/* ----------- MAIN STYLES ----------- */

body {
    padding-top: 90px;
}

#back-to-top {
    position: sticky;
    bottom: 20px;
    display: inline-block;
    margin-left: calc(100% - 10px);
    padding: 8px 12px 8px;
    border-radius: 100%;
    border: 2px solid #B7987C;
    text-decoration: none;
}
/* --- Main Container --- */
main {
    min-height: 70vh;
    position: relative;
}

.article-container {
    width: 75%;
    margin-top: 8px;
}
/* --- Article --- */
.article-section {
    padding: 16px;
}

/* .article-item {
    scroll-margin-top: 90px;
} */

.article-item h2, .article-item p, .article-item img {
    margin-bottom: 16px;
}

.article-item img {
    height: 300px;
}



/* ----- Main Aside ----- */
.main-aside {
    width: 24%;
    text-align: center;
    position: sticky;
    top: 84px;
}


.main-aside h2 {
    color: aliceblue;
    margin: 8px 0 24px;
}

.main-aside, .article-container {
    display: inline-block;
    vertical-align: top;
}

.main-aside-nav {
    background-color: rgb(45, 45, 45);
    border-left: 1px solid gray;
    min-height: 90vh;
}

.main-aside-nav ul li {
    display: block;
    margin: 0;
    padding-bottom: 8px;
}

.main-aside-nav ul li a {
    color: blue;
}

/* ----------- FOOTER STYLES ----------- */

footer a.footer-nav-items:link,
footer a.footer-nav-items:visited {
  color: rgb(172, 172, 255);
}

footer a.footer-nav-items:hover {
  color: rgb(172, 172, 255);
}


.footer-nav {
    color: white;
}

hr {
    border: none;
    height: 1px;
    background-color: aliceblue;
    margin: 10px 0;
}

.footer-nav {
    text-align: center;
    padding: 32px 32px;
}

.footer-nav-list {
    margin: 0;
}

